<div class="py-4 mb-2">
  <h3 class="d-inline-block">CartItems</h3>
  <div class="float-end">
    <%= linkTo(newCartItemsPath(), {class: "btn btn-primary"}) { %>
      Create New CartItem
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>CartID</th><th>ProductID</th><th>Quantity</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (cartItem) in cartItems { %>
      <tr>
        <td class="align-middle"><%= cartItem.CartID %></td><td class="align-middle"><%= cartItem.ProductID %></td><td class="align-middle"><%= cartItem.Quantity %></td>
        <td>
          <div class="float-end">
            <%= linkTo(cartItemPath({ cart_item_id: cartItem.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editCartItemPath({ cart_item_id: cartItem.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(cartItemPath({ cart_item_id: cartItem.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
