<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>iZone - Gadgets</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">

    <%= stylesheetTag("lib/style.css") %>
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


  </head>
  <body>

    <div class="container-fluid">
      <%= partial("flash.html") %>
      <%= partial("header.html") %>
      <%= yield %>
      <%= partial("footer.html") %>

    </div>

    <%= javascriptTag("application.js") %>
    <!-- JavaScript Libraries -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="/assets/mail/contact.js"></script>

    <!-- Template Javascript-->
    <script src="/assets/mail/main.js"></script>


  </body>
</html>
