<div class="py-4 mb-2">
  <h3 class="d-inline-block">Carts</h3>
  <div class="float-end">
    <%= linkTo(newCartsPath(), {class: "btn btn-primary"}) { %>
      Create New Cart
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>UserID</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (cart) in carts { %>
      <tr>
        <td class="align-middle"><%= cart.UserID %></td>
        <td>
          <div class="float-end">
            <%= linkTo(cartPath({ cart_id: cart.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editCartPath({ cart_id: cart.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(cartPath({ cart_id: cart.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
